/dts-v1/;
/plugin/;

/ {
	compatible = "brcm,bcm2835", "brcm,bcm2708", "brcm,bcm2709";

	clocks {
		xtal36: xtal36@7 {
			reg = <0x07>;
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = < 0x384000 >;
			clock-output-names = "xtal36";
		};
	};

	spi@1 {
		spidev@0 {
			status = "disabled";
		};
		spidev@1 {
			status = "disabled";
		};

		max14830_1: max14830_1@0 {
			compatible = "maxim,max14830";
			reg = <0>; /* CE0 */
			clocks = <0xdb>;
			clock-names = "xtal";
			pinctrl-names = "default";
			pinctrl-0 = <&irq0_pin>;
			interrupt-parent = <&gpio>;
			interrupts = <22 0x2>; /* falling edge */
			spi-max-frequency = <12000000>;
			status = "okay";
		};

		max14830_2: max14830_2@0 {
			compatible = "maxim,max14830";
			reg = <1>; /* CE1 */
			clocks = <0xdb>;
			clock-names = "xtal";
			pinctrl-names = "default";
			pinctrl-0 = <&irq1_pin>;
			interrupt-parent = <&gpio>;
			interrupts = <23 0x2>; /* falling edge */
			spi-max-frequency = <12000000>;
			status = "okay";
		};
	};

	gpio {
		irq0_pin: irq0_pin {
			brcm,pins = <22>;
			brcm,function = <0>; /* in */
			brcm,pull = <0>; /* none */
		};
		irq1_pin: irq1_pin {
			brcm,pins = <23>;
			brcm,function = <0>; /* in */
			brcm,pull = <0>; /* none */
		};
	};
};
